<h1>Convert</h1>

<p>Go <a href="/forex">back</a></p>

<ul>
    <%= @a_conversion.each do |a_symbol| %>
      <li>
        <a href="/forex/<%= a_symbol %>/<%=@a_conversion%>">
        Convert 1 <%= a_symbol %> to <%=@a_conversion%>...
        </a>
      </li>
    <% end %>
</ul>
